html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.15;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 50px 0px;
    width: 100%;
    background-image: linear-gradient(60deg, #00848e 0%, #50c9c3 100%);
    text-align: center;
}

header span.subtitle {
    font-size: 3rem;
}

header h1 {
    color: white;
    font-size: 6rem;
    font-weight: lighter;
}

header p {
    margin: 0px;
    color: white;
    font-size: 2rem;
}

header a {
    display: block;
    color: white;
    font-size: 3rem;
    padding-bottom: 2vh;
}

header a:hover {
    color: black;
}

div.container {
    /*margin-bottom: 200px;*/
}

input[type="submit"] {
    margin-top: 20px;
}

section.authentification {
    padding: 30px 0px;
}

@media all and (min-width: 100.0rem) {
    div.container {
        max-width: 80%;
    }
    section.container {
        max-width: 30%;
        margin: 2% 1.5%;
        display: inline-block;
        vertical-align: top;
    }
    section.authentification {
        display: block;
        width: 30%;
        margin: auto;
    }
    footer {
        position: initial;
    }
}

input[type="submit"] {
    padding: 10px 15px;
    height: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    color: lightslategray;
}

h3 {
    /*border: 1px solid #00848e;*/
    /*box-shadow: 0px 0px 10px 0px #e1e1e1;*/
    color: #00848e;
    background-color: white;
    font-size: 3rem;
    text-align: center;
    /*padding: 1.5rem 1rem;*/
}

h4 {
    margin: 20px 0px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
    color: gray;
    font-weight: 300;
}

p {
    color: gray;
}

label {
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
}

textarea {
    min-height: 15rem;
}

pre.url {
    width: 30%;
    display: block;
    margin: auto;
    text-align: center;
}

.full {
    padding: 0 2.0rem;
    width: 97%;
    margin: 2% 1.5%;
}

.box {
    background: #dedede;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

span.ko,
span.ok {
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

span.ko {
    color: #E08283;
}

span.ok {
    color: #00848e;
}

p.config-test>i {
    font-size: 1.5rem;
    vertical-align: middle;
}

p.config-test {
    margin-bottom: 5rem;
    text-align: center;
}

p.error {
    background-color: #E08283;
    text-align: center;
    display: block;
    margin: 50px auto;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}

.center {
    text-align: center;
}

img.logo {
    width: 80px;
}

.authentification input[type="submit"]:hover {
    color: white;
    border: none;
    background-color: #0871A5;
}

.authentification input[type="submit"] {
    background: transparent;
    color: #0871A5;
    border: 1px solid #0871A5;
    width: 100%;
    padding: 2px 0px;
}

footer {
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0px;
}

footer form,
footer input {
    margin: auto;
}

footer p {
    margin: 0px;
}

button.btn-android img {
    vertical-align: middle;
    margin-right: 10px;
}

button.btn-android {
    padding: 10px 15px;
    height: auto;
    color: #00848e;
    background: transparent;
    border: 1px solid #00848e;
}