<div class="full">
    <p>
        Voici le panneau de configuration de <strong>meli.co</strong>.
    </p>
    <p>Vérifiez à avoir tous les paramètres ci-dessous corrects. Une fois la configuration validée, utilisez le bouton pour
        générer votre application.
    </p>
</div>
<form action="/config" method="POST">
    {% include 'layouts/form-auth-hidden.html' %} 
    {% include 'layouts/form-global.html' %} 
    {% include 'layouts/form-email.html' %} 
    {% include 'layouts/form-db.html' %}
    <div class="center">
        <input type="submit" class="button" value="Enregistrer & tester la configuration" />
    </div>
</form>
{% if t.website.success and t.db.success %}
<footer class="center">
    <form action="/android" method="POST">
        {% include 'layouts/form-auth-hidden.html' %} 
        <input type="submit" class="button btn-android" value="Générer mon application Android" />
    </form>
</footer>
{% endif %}