 {% if not test.website.success or not test.db.success %}
<div class="full">
    <p>
        Voici le panneau de configuration de <strong>Melico</strong> web.
    </p>
    <p>Vérifiez à avoir tous les paramètres ci-dessous corrects. Une fois la configuration validée, le bouton pour <strong>générer votre application apparaitra</strong>.
    </p>
</div>
{% endif %} {% if test.website.success and test.db.success %}
<div class="center full">
    <form action="android" method="POST">
        {% include 'layouts/form-auth-hidden.html' %}
        <button type="submit" class="button btn-android">
            <span><img src="{{ baseUrl }}/resources/img/android.svg" /> Générer mon application Android</span>
        </button>
    </form>
</div>
{% endif %}

<form action="config" method="POST">
    {% include 'layouts/form-auth-hidden.html' %} {% include 'layouts/form-website.html' %} {% include 'layouts/form-email.html' %} {% include 'layouts/form-db.html' %}
    <div class="center">
        <input type="submit" class="button" value="Enregistrer & tester la configuration" />
    </div>
</form>