<section class="container">

    <h3>Site internet</h3>

    <p class="config-test">
        {% if t.website.success %}
            <i class="material-icons icon-ok">thumb_up</i> Votre configuration est fonctionnelle.
        {% elseif t.website.message %}
            <i class="material-icons icon-ko">thumb_down</i> {{ t.website.message }}
        {% endif %} 
    </p>

    <div class="form-group">
        <label for="global-site">Nom du site</label>
        <input type="text" required="true" placeholder="..." value="{{ p.website.name }}" name="website[name]" class="form-control" id="global-name" />
    </div>

    <div class="form-group">
        <label for="global-site">Icone du site</label>
        <input type="text" required="true" placeholder="..." value="{{ p.website.icon }}" name="website[icon]" class="form-control" id="global-icon" />
        <img src="{{ p.website.icon }}" alt="{{ p.website.icon }}" />
    </div>

    <div class="form-group">
        <label for="global-url">Adresse du site</label>
        <input type="text" required="true" placeholder="http://www.domaine.fr" value="{{ p.website.url }}" name="website[url]'" class="form-control" id="global-url" />
    </div>

    <div class="form-group">
        <label for="global-about">A propos du blog ?</label>
        <textarea placeholder="Notre site internet parle de..." required="true" value="{{ p.website.content }}" name="website[about]" class="form-control" id="global-about">{{ p.website.about }}</textarea>
    </div>

</section>