<section class="container">

    <h3>E-mail</h3>

    <p class="config-test">
        {% if test.email.success %}
        <span class="ok">Votre configuration est fonctionnelle.</span>
        {% elseif test.email.error %}
        <span class="ko">{{ test.email.error }}</span>
        {% endif %} 
    </p>

    <div class="form-group">
        <label for="email-contact">Adresse de contact</label>
        <input type="email" required="true" value="{{ post.email.contact }}" placeholder="nom.prenom@gmail.com ?" name="email[contact]" class="form-control"
            id="email-contact" />
    </div>
    <div class="form-group">
        <label for="email-host">Hôte</label>
        <input type="text" required="true" value="{{ post.email.host }}" placeholder="serveur-smtpost.domaine.com" name="email[host]" class="form-control"
            id="email-host" />
    </div>
    <div class="form-group">
        <label for="email-port">Port</label>
        <input type="text" required="true" value="{{ post.email.port }}" placeholder="465 / 587 ?" name="email[port]" class="form-control" id="email-port"
        />
    </div>
    <div class="form-group">
        <label for="email-user">Utilisateur</label>
        <input type="email" required="true" value="{{ post.email.user }}" placeholder="nom.prenom@gmail.com ?" name="email[user]" class="form-control"
            id="email-user" />
    </div>
    <div class="form-group">
        <label for="email-password">Mot de passe</label>
        <input type="password" required="true" value="{{ post.email.pass }}" placeholder="" name="email[pass]" class="form-control" id="email-password"
        />
    </div>
    <div class="form-group">
        <label for="email-sec">Sécurité</label>
        <input type="text" required="true" value="{{ post.email.sec }}" placeholder="ssl / tls ?" name="email[sec]" class="form-control" id="email-sec"
        />
    </div>
</section>